::selection {
    background-color: #ffffff;
}
body {
	background-color: #1e1e1e;
}
p {
	color: #e6a500;
	font-family: 'Courier New';
	font-size: 20px;
	font-weight: 999;
}
.img {
	width:80px;
	height:70px;
}
.text {
	font-size: 10px;
}
