::selection {
    background-color: #ffffff;
    color: #9c0000;
}
body{
	background-color: #1e1e1e;
	}
p {
	color: #e6a500;
	font-family: 'Consolas';
	font-size: 20px;
}
.img {
    width:80px;
    height:70px;
}
.text {
    color: #e6a500;
	font-family: 'Consolas';
	font-size: 10px;
}
