::selection {
	background-color: #ffffff;
}
body {
	background-color: #0a0a0a;
	font-family: 'Courier New';
	font-weight: bold;
}
.img {
	height:70px;
	width:80px;
}
p {
	color: #fa9200;
	text-align: center;
	font-size: 16px;
}
.rectangle {
	align-items: center;
	background-color: #fe7700;
	display: flex;
	height: 25px;
	justify-content: space-around;
	padding: 0 20px;
	width: auto;
}
.text0 {
	color: #000000;
	position: relative;
	text-decoration: none;
}
.titletext0 {
	font-size: 18px;
}
.titletext1 {
	font-size: 32px;
}
.tooltip {
	display: inline-block;
	position: relative;
}
.tooltip .tooltiptext {
	background-color: #000000;
	border-radius: 5px;
	bottom: 100%;
	color: #fa9200;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	padding: 5px;
	position: absolute;
	text-align: center;
	transition: opacity 0.3s;		
	visibility: visible;
	width: 120px;
	z-index: 1;
}
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
