::selection {
    background-color: #ffffff;
    color: #ff0000;
}
audio {
	border: solid #999999;
}
body{
    background-image: url(media/img/background.png);
	background-color: #000000;
	}
p {
	color: #000000;
	font-family: 'Consolas';
	font-size: 20px;
	text-align: center;
}
img {
    width:160px;
    height:120px;
}
.img0 {
    width:204px;
    height:120px;
}
.img1 {
    width:116px;
    height:120px;
}
.text {
    color: #000000;
	font-family: 'Consolas';
	font-size: 10px;
}