::selection {
    background-color: #ffffff;
    color: #9c0000;
}
audio {
	border: solid #999999;
}
body{
	background-color: #1e1e1e;
	}
p {
	color: #e6a500;
	font-family: 'Courier New';
	font-size: 20px;
	text-align: center;
}
img {
    width:160px;
    height:120px;
}
.img0 {
    width:204px;
    height:120px;
}
.img1 {
    width:116px;
    height:120px;
}
.text {
    color: #e6a500;
	font-family: 'Courier New';
	font-size: 10px;
}
